$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$retina-x2: 2dppx;
$padding-desktop: 375px;
$padding-tablet: 21px;
$padding-mobile: 16px;

$primary: #fe7865;
$primary-05: rgba(254, 120, 101, 1);
$secondary: #f17d4b;
$white: #ffffff;
$black: #000000;
$background-primary: $white;
$background-secondary: #fbf8f8;
$color-text-dark:#2c2e3f;
$color-text-dark-07: rgba(44, 46, 63, 0.7);
$color-text-dark-05: rgba(44, 46, 63, 0.5);
$color-text-dark-03: rgba(44, 46, 63, 0.3);
$color-text-darkest: #141517;
$color-text-darkest-05: rgba(20, 21, 23, 0.5);
$color-text-gray: #48494d;
$color-border: #d7d9df;
$color-border-07: rgba(255, 255, 255, 0.7);
$box-shadow-black-25: 0 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-black-01: 0 4px 30px rgba(41, 54, 66, 0.1);
$font-family: "Montserrat", "Arial", sans-serif;
$font-size: 16px;
$line-height: 28px;
$color-text: $color-text-dark;
$font-weight: 400;
