.btn {
  @include btn-reset;
  display: block;
  position: relative;
  outline: none;
  background-color: $primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  padding: 30px 40px;

  @include tablet {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  &--lead {
    width: 340px;

    @include tablet {
      width: 250px;
    }

    @include mobile {
      width: 288px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 39px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      display: block;
      background-image: url("../img/svg/icon-arrow-bottom.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--link {
    width: 266px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    border: 1px solid $color-border-07;
    padding: 30px 23px;
    margin-left: auto;
    margin-right: auto;
  }

  &--buy {
    width: 250px;
    padding-left: 39px;
    padding-right: 39px;

    @include mobile {
      width: 288px;
    }
  }
}

.btn-burger {
  @include btn-reset;
  display: none;
  position: relative;
  outline: none;

  @include tablet {
    width: 72px;
    height: 50px;
    background-color: $primary;
    background-image: url("../img/svg/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  @include mobile {
    width: 50px;
  }
}

.btn-cross {
  @include btn-reset;
  position: relative;
  outline: none;

  @include tablet {
    width: 72px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/svg/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include mobile {
    width: 50px;
  }
}

.header__container--nojs > .btn-cross {
  display: none;
}
